@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --text: #CFD2E2;
      --bg: #1A1B20;
      --p: #131419;
      --s: #262A31;
      --a: #54F5C5;
    }

}

@layer components{
  .debug{
    @apply border border-red-500;
  }
  .horizontal{
    @apply flex flex-row;
  }
  .vertical {
    @apply flex flex-col;
  }
  .center-v{
    @apply justify-center;
  }
  .center-h{
    @apply items-center;
  }
}

.window-header{
  @apply w-full text-start text-sm px-2 h-8 flex items-center border-b border-b-neutral-200 bg-neutral-100 text-text 
}

.App {
  @apply text-text border-secondary;
  text-align: center;
}
.cont{
  display: flex;
  justify-content: space-around;
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
}
li{
  display: flex;
  padding: 1em;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.192);
  margin: 0 1em;
  border-radius: 1em;
  justify-content: space-between;
}

.lol{
  display: flex;
  width: 100%;
  padding: 1em;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.192);
  margin: 0 1em;
  border-radius: 1em;
}
.dark-input{
  @apply bg-white p-1
}
input{
  @apply border border-neutral-200 outline-none;
}

button:hover{
  transform: scale(0.99);
}
button:active{
  transform: scale(1.02);
}

.leverage-button-cont{
  display: flex;
  justify-content: space-between;
}
.transition-height{
  transition: max-height 1000ms ease-out;
}
.trans-op-1000{
  transition: opacity 700ms ease-in-out;
  transition-delay: 300ms;
}

.trans-op-500{
  transition: opacity 700ms ease-in-out;
}


.inp-cont{
  @apply flex flex-row justify-center mt-2 
}
.inp-cont input{
  @apply p-2 rounded-md bg-gray-200 border-gray-300 text-gray-500 ;
  @apply focus:border-gray-400 transition-colors
}

.risk-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.risk-cont input{
  border: solid rgb(216, 216, 216) 1px;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding: 0.7em;
  width: 100%;
}

.leverage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.inp-cont .text-div{
  border: solid rgb(216, 216, 216) 1px;
  border-right: none;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding: 0.7em;
  width: 25%;
}

.win-trade{
  @apply bg-green-400 text-green-200 p-1 rounded-md font-bold text-sm
}
.loss-trade{
  @apply bg-red-400 text-red-200 p-1 rounded-md font-bold text-sm
}

.navbar{
  @apply mb-2 h-full w-full rounded-xl border border-gray-400 text-white bg-gray-800 flex justify-start shadow-sm
}
.navbar li{
  @apply w-full h-full ml-0 shadow-none rounded-none  border-b border-gray-700  first:rounded-t-xl hover:bg-gray-900 last:border-0 last:rounded-b-xl hover:cursor-pointer
}
.navbar li a{
  @apply w-full h-full flex justify-start items-center
}

.navbar li a span{
  @apply ml-2
}

.trade-item-cont{
  @apply col-span-1 row-span-1 bg-gray-100
}

.dashboard-content{
  @apply bg-gray-100 shadow-sm rounded-xl border 
}