.App {
  text-align: center;
  color: black;
}
.cont{
  display: flex;
  justify-content: space-around;
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
}
li{
  display: flex;
  padding: 1em;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.192);
  margin: 0 1em;
  border-radius: 1em;
  justify-content: space-between;
}

.lol{
  display: flex;
  width: 100%;
  padding: 1em;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.192);
  margin: 0 1em;
  border-radius: 1em;
}